body {
  background-color: #40c5b1;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: #a2e6dc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  display: block;
  height: 100px;
  width: 100px;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-links a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #40c5b1;
  transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
}
